

.container {
    padding: 0 100px;
    margin: 0;
    max-width: 100%;
    font-family: 'YuGothic';
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;

}
.logo img{
    width: 130px;
    height: 33px;
}
/* 共有しているclass */
.btn {
    border-radius: 30px;
}
.btn1 {
    width: 151px;
    font-size: 18px;
    background-color: #FFE000;
    border: none;
}
.btn-flex {
    display: flex;
}
.btn2 {
    width: 166px;
    height: 48px;
    background-color: #109954;
    color: #fff;
    font-size: 18px;
}
.btn3 {
    width:222px;
    height: 48px;
    height: 48px;
    border: 2px solid #109954;
    color: #109954;
    font-size:18px;
    background-color: #fff;
}
.btn4 , .btn5 {
    width: 120px;
    background-color:  #109954;
    color: #fff;
    font-size: 16px;
    height: 36px;
    border: none;
}
.btn6 {
    background-color: #109954;
    color: #fff;
    width: 106px;
    height: 26px;
    border: none;
    font-size: 14px;
    font-weight: bold;
}
.btn7 {
    width: 166px;
    height: 48px;
    background-color: #109954;
    color: #fff;
    font-size: 18px;
}

.mv {
    margin: 106px 0 120px 0;
    display: flex;
    justify-content: center;
    width: 1080px;
}
.mv-ttl h2{
    font-weight: bold;
}
.mv img{
    width: 71%;
}

/* service */

.inner {
    width: 1080px;
}
.service-img {
    display: flex;
    justify-content: space-between;
    padding:109px 140px;
}
.heading {
    padding: 0 209px;
    font-size: 36px;
}
.section-ttl {
    display: flex;
    align-items: center;
    
}
.section-ttl:before, .section-ttl:after {
    content: "";
    height: 4px; /* 線の太さを変えたいときはここを変える */
    background: #109954; /* 線の色を変えたいときはここを変える */
    margin:0 50px; /* 文字と線の余白用  */
    width: 200px;
}
.s-ctt img{
    margin-bottom: 30px;
    width: 200px;
}
.s-ctt p {
    font-size: 20px;
    text-align: center;
}


/* about */


.about-upper , .about-bottom {
    display: flex;
    justify-content: space-between;
}
.about-upper {
    margin: 100px 70px;
}
.about-bottom {
    margin-bottom: 120px;
}
.about-img img{
    width: 450px;
}
.about-txt {
    
}
.about-txt p{
    font-size: 16px;
    width: 450px;
}
.about-txt h2 {
    color: #109954;
}


/* blog  */


.blog {
    margin-top: 100px;
    padding: 0 40px;
}
article {
    display: flex;
}

hr {
    margin: 30px 0;
}

time {
    font-weight: bold;
    font-size: 16px;
    margin-right: 24px;
}
.blog-date {
    display: flex;
    margin-bottom: 20px;
}
figure img{ 
    width: 64%;
}
article h2 {
    font-size: 16px;
    margin: 20px 0 ;
}

.more {
    text-align: center;
    margin-bottom: 115px;
}

footer {
    height: 135px;
    background-color: #E8E8E8;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-logo img{
    width: 70px;
}

small {
    text-align: center;
}
